# ==========================================
# MacOS version of wkhtmltopdf
# ==========================================
[wkhtmltopdf]
url = http://wkhtmltopdf.googlecode.com/files/wkhtmltopdf-0.9.9-OS-X.i368
download-only = true

[wkhtmltopdf_executable]
cmds=  
  cd ${buildout:directory}/parts/wkhtmltopdf
  mv wkhtmltopdf-0.9.9-OS-X.i368 wkhtmltopdf
  chmod +x wkhtmltopdf
