# a buildout specifically prepared for Travis CI to keep it under
# 15 minutes which is a timeout limit for Travis CI jobs

# Note: there is actually nothing specifically done to keep it under
# 15 minutes currently, unless it is the socket-timeout and the
# allow-hosts...  To get more speed boost by avoiding downloading all
# python packages separately, we should look at
# https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg

[buildout]
extends = development.cfg

# disable extensions for performance reasons
extensions =

# network speedup
socket-timeout = 3
allow-hosts =
    *.python.org
    effbot.org

# disable some parts, again for performance reasons
parts -=
    omelette
