# a buildout specifically prepared for Travis CI to keep it under
# 15 minutes which is a timeout limit for Travis CI jobs

# Note: there is actually nothing specifically done to keep it under
# 15 minutes currently, unless it is the socket-timeout and the
# allow-hosts...  To get more speed boost by avoiding downloading all
# python packages separately, we should look at
# https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg

[buildout]
extends = development.cfg

# disable extensions for performance reasons
extensions =

# network speedup
socket-timeout = 3
allow-hosts =
    *.python.org
    effbot.org

# disable some parts, again for performance reasons
parts -=
    omelette
    sphinxbuilder

[wkhtmltopdf]
recipe = hexagonit.recipe.download
filename = wkhtmltopdf.deb
url = http://downloads.sourceforge.net/project/wkhtmltopdf/0.12.1/wkhtmltox-0.12.1_linux-trusty-i386.deb

[wkhtmltopdf_executable]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds =
     cd ${buildout:directory}/parts/wkhtmltopdf
     ar x wkhtmltopdf.deb
     tar xJf data.tar.xz --strip-components=3
